@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=M+PLUS+Rounded+1c:wght@700&display=swap");

$bg-color: hsl(209, 37%, 10%);
$font-generalSize: 1.25em;
$font-Mont: "Montserrat", sans-serif;
$font-Round: "M PLUS Rounded 1c", sans-serif;
$style-Round: 0.35rem;

// Colors
$blueish: hsl(220, 74%, 53%);
$whiteish: hsl(0, 0%, 90%);

@mixin rectangularPadding {
  padding-block: 0.45rem;
  padding-inline: 0.85rem;
}

body {
  background-color: $bg-color;
  font-family: $font-Mont;
}

.title {
  text-align: center;
  color: $whiteish;
  font-weight: 400;
  margin-top: 4.75rem;
  font-size: 2.55em;

  span {
    font-family: $font-Round;
    font-size: 3.15rem;
    color: $blueish;
  }
}

.taskInput {
  text-align: center;

  input {
    width: 50vw;
    font-size: $font-generalSize;
    @include rectangularPadding();
    border-radius: $style-Round;
    border: none;
    outline: none;
  }

  .btn {
    font-size: 1.25em;
    @include rectangularPadding();
    background-color: $blueish;

    border-radius: $style-Round;
    border: none;
    cursor: pointer;
    margin-left: 0.35rem;
  }
}

.todos {
  margin: 0 auto;
  color: $whiteish;
  width: 58vw;
  transform: translateX(-1.75rem);

  .eachTodo {
    background-color: hsla(220 25% 50%/0.9);
    @include rectangularPadding();
    border-radius: $style-Round;

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    input[type="checkbox"] {
      /* Double-sized Checkboxes */
      -ms-transform: scale(2); /* IE */
      -moz-transform: scale(2); /* FF */
      -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
      transform: scale(2);
      padding: 10px;
      margin-right: 2rem;
      cursor: pointer;
    }

    div > button {
      padding-inline: 1rem;
      padding-block: 0.5rem;
      margin-inline: 0.5rem;

      border-radius: $style-Round;
      border: none;
      cursor: pointer;
      background: linear-gradient(145deg, #f61b1b, #cf1717);
      box-shadow: 20px 20px 60px #c4151575,
        -20px -20px 60px hsl(0, 100%, 56%, 0.5);
      transition: all 0.25s ease-in;

      &:active {
        background: #e61919;
        box-shadow: inset 20px 20px 60px #c4151575,
          inset -20px -20px 60px #ff1d1d;
      }
    }
  }
}
